
.manpowerTable {
  // max-height: 100%;
  max-height: 45vh;
  overflow-y: auto;
}

.table {
  border: 2px solid #333
}

.table th,
.table td {
  border: 1px solid #333;
  text-align: center;
  vertical-align: middle;
  padding: 8px;
}