

.secondSection{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70%;
  width: 100%;
}

.calendar {
  height: 70%;
  width: 40%;
}

.manpower{
  display: flex;
  flex-direction: column;
  // align-items: center;
  height: 70%;
  width: 15%;
}

.record{
  height: 70%;
  width: 35%;
}

.addButton {
  margin-left: 20px;
}
